.p-dataview .p-dataview-header {
    background: white;
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-sort-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.cards {
    width: 50%;
    margin-left: 33%;
    margin-top: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px gray solid;
    width: 90%;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
