<div class="product-admin-card">
    <!-- Header of the table, containing the button to create a new product and
        a button to delete the selected products (thanks to the check boxes) -->
    <p-toolbar>
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
        </ng-template>
    
        <ng-template pTemplate="right">
            <button pButton pRipple icon="pi pi-cog" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
    <!-- value: data injected in the array 
        selection: products selected thanks to the checked boxes
        dataKey: id used to identify quickly each elements during sorting operations
        paginator: to provide the page number of the products array displayed
        rows: number of products displayed
        selectionPageOnly: to display only the elements from the paginator
        showCurrentPageReport: to provide the three values of Showing {first} to {last} of {totalRecords} entries
        currentPageReportTemplate: idem but for the message
        rowsPerPageOptions: to display the elements, here, by 10, 25 or 50 elements
        customSort: displays arrows to sort element of each column
        sortFunction: call the function to sort elements
        globalFilterFields: gives the category of each column elements to sort -->
    <p-table 
        [value]="products"
        [(selection)]="selectedProducts"
        dataKey="code" 
        [paginator]="true" 
        [rows]="10" 
        [selectionPageOnly]="true" 
        [tableStyle]="{'min-width': '50rem'}"
        styleClass="p-datatable-gridlines"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]"
        [customSort]="true"
        (sortFunction)="customSort($event)"
        [globalFilterFields]="['code', 'name']"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 2rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="code" style="min-width:200px">code <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="name" style="min-width:200px">name <p-sortIcon field="name"></p-sortIcon></th>
                <th style="min-width:100px">Actions</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-i="rowIndex">
            <tr [style]=getRowClass(i)>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.code}}</td>
                <td>{{product.name}}</td>
                <td>
                    <button type="button" pButton pRipple icon="pi pi-pencil" class="pensil"></button>
                    <button type="button" pButton pRipple icon="pi pi-trash" class="trash"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
